* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background: #285483;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem; 
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 1;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background-color: black;
    color: #ababab;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 16px 32px; 
    z-index: 100;
    overflow: hidden;
    transition: background-color 0.3s ease;
    flex-wrap: wrap; 
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.bx-arrow-back {
    color: #ababab;
    font-size: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-left: auto; 
    flex-wrap: wrap; 
}

.header-content h1 {
    margin: 0;
    font-size: 12px; /* Smaller font size */
    text-align: center; 
}

.main-content {
    width: 100%;
    margin-top: 4rem; 
    padding: 1rem;
}

.main-content h3 {
    color: #ababab;
    padding: 1rem 0;
    border-bottom: 0.3rem solid #ababab;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-content .contents {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto; 
}

li {
    margin: 0.7rem 0;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 1;
    font-size: 24px;
    padding: 1rem;
    box-sizing: border-box;
}

/* 1440x1080 pixels */
@media (min-width: 1440px) {
    body {
        font-size: 28px; 
    }

    .header {
        height: 70px;
        font-size: 14px;
    }

    .bx-arrow-back {
        font-size: 28px; 
    }

    li {
        margin-top: 20px;
    }
    li a {
        font-size: 28px;
        padding: 24px; 
    }
}

/* 768x1024 pixels */
@media (max-width: 1024px) and (min-width: 768px) {
    body {
        font-size: 20px;
        padding: 24px; 
    }

    .header {
        padding: 10px 24px; 
        font-size: 12px;
    }

    .bx-arrow-back {
        font-size: 24px; 
    }

    li {
        margin-top: 16px;
    }

    li a {
        font-size: 10px;    
    }
}

/* 480x800 pixels */
@media (max-width: 800px) and (min-width: 480px) {
    body {
        font-size: 16px; 
        padding: 16px; 
    }

    .header {
        height: 12px;
        font-size: 10px;
    }

    .bx-arrow-back {
        font-size: 10px;
    }

    li a {
        font-size: 32px;
        padding: 24px; 
    }
}

/* 360x640 pixels */
@media (max-width: 640px) and (min-width: 360px) {
    body {
        font-size: 14px; 
        padding: 12px; 
    }

    .header {
        padding: 8px; 
        flex-direction: row; 
        align-items: center; 
    }

    .bx-arrow-back {
        font-size: 18px; 
        margin-bottom: 8px; 
    }

    .header-content h1 {
        font-size: 12px; 
        text-align: center; 
        margin-left: 0; 
    }

    /* .main-content h3 {
        font-size: 20px; 
        padding: 8px 0; 
        border-bottom-width: 3px; 
    } */

    li a {
        font-size: 11px; 
        padding: 16px; 
    }
}
