body {
    font-family: "Rubik", sans-serif;
    background-color: #285483;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 1;
    }
}

.header {
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.header:hover {
    background-color: #333;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

#sortContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    gap: 10px;
    transition: background-color 0.3s ease;
}

#sortContainer label {
    margin-right: 10px;
    font-weight: bold;
}

#sort {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#sort:focus {
    border-color: #285483;
    box-shadow: 0 0 5px rgba(40, 84, 131, 0.5);
}

/* Styles for Individual Records */
.record {
    background-color: #ffffffc6;
    color: #1e1e1e;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    flex-direction: row;
    gap: 10px;
    position: relative;
}

.record:hover,
.record:focus,
.record:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.record .date-time {
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 10px;
    right: 10px;
}

.record .posture {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex: 20;
}

.record .time-duration {
    font-size: 12px;
    color: #999;
    text-align: left;
    flex: 1;
    margin-right: 10px;
}

/* Responsive Styles */
/* 1440x1080 */
@media (max-width: 1440px) {
    #sortContainer {
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    #sortContainer label {
        font-size: 16px;
    }

    #sort {
        padding: 4px;
        font-size: 16px;
    }

    .record {
        flex-direction: row;
        align-items: center;
    }

    .record .time-duration {
        font-size: 16px;
        text-align: left;
    }

    .record .posture {
        font-size: 19px;
        text-align: center;
        align-self: center;
    }

    .record .date-time {
        font-size: 16px;
        text-align: right;
        margin-left: 10px;
        position: relative;
        align-self: center;
    }
}

/* 768x1024 */
@media (max-width: 768px) {
    #sortContainer {
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }

    #sortContainer label {
        font-size: 14px;
    }

    #sort {
        padding: 3px;
        font-size: 14px;
    }

    .record {
        flex-direction: row;
        align-items: center;
    }

    .record .time-duration {
        font-size: 14px;
        text-align: left;
    }

    .record .posture {
        font-size: 17px;
        text-align: center;
        align-self: center;
    }

    .record .date-time {
        font-size: 14px;
        text-align: right;
        margin-left: 10px;
        position: relative;
        align-self: center;
    }
}

/* 480x800 */
@media (max-width: 480px) {
    #sortContainer {
        align-items: flex-start;
        padding: 5px;
    }

    #sortContainer label {
        padding: 5px;
        font-size: 15px;
    }

    #sort {
        padding: 5px;
        font-size: 12px;
    }

    .record {
        padding: 2px;
        margin: 5px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .record .posture {
        font-size: 15px;
        text-align: center;
        align-self: center;
    }

    .record .date-time {
        font-size: 12px;
        margin-bottom: 8px;
        text-align: right;
        align-self: flex-end;
    }
}

/* For screens up to 360x640 pixels */
@media (max-width: 360px) {
    #sortContainer {
        align-items: flex-start;
        padding: 5px;
    }

    #sortContainer label {
        font-size: 10px;
    }

    #sort {
        padding: 1px;
        font-size: 10px;
    }

    .record {
        flex-direction: column;
        align-items: flex-start;
        padding: 0; 
        margin: 1px 0;
    }

    .record .time-duration {
        font-size: 9px; 
        text-align: left;
    }

    .record .posture {
        font-size: 12px;
        text-align: center;
        align-self: center;
    }

    .record .date-time {
        font-size: 9px;
        text-align: right;
        margin-left: 0;
        position: static;
        align-self: flex-end;
    }
}